@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.heading {
    font-size: 2rem;
    text-align: bottom;
    color: #69d5e6;
    text-shadow: rgb(21, 20, 15) 1px 1 3px;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: relative;
    top: 3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: .2rem;
}

.form {
    padding: 1rem 0;
}

.form label {
    font-size: 2.2rem;
    color: #6ec0c0;
    position: relative;
    top: .3rem;
    font-family: 'Roboto', sans-serif;
}

.form input {
    outline: none;
    padding: .4rem;
    font-size: 1.1rem;
    margin: 0em 1em;
    font-family: 'Open Sans', sans-serif;
}


.btn {
    height: 2rem;
    background: rgba(170, 231, 234, 0.7);
    border-radius: 7px;
    color: #8d8d8d;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: 1.2rem;
    padding: 0rem 1.5rem;
    margin: 1rem 1.4rem;
    border: 1px solid rgba(170, 231, 234, 0.7);
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    transform: scale(1.04);
}

.btn:active {
    transform: scale(0.96);
}

.todo_container {
    width: 101%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 5rem;
}

.todolist {
    border: 1px solid #c8f5f0;
    border-radius: 11px;
    margin: 1rem .8rem;
    padding: .9rem 1.3rem;
}

.todolist .todo_head {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.todolist .todo_desc {
    text-transform: capitalize;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .1rem .3rem;
    /* text-indent: 1rem; */
    font-size: 1.3rem;
    margin: .5rem 1rem;
}

.todolist .todo_date {
    font-family: 'Open Sans', sans-serif;
}

.todolist #dlt_btn {
    padding: 0rem 1rem;
    margin: 1rem 0rem;
    font-family: 'Open Sans', sans-serif;
}
